<footer class="footer py-4">
    <div class="container" background-color: rgba(0, 0, 0, 0.03);>
        <div class="row align-items-center">
            <div class="col-lg-6 text-lg-left">
                2018123064 - Harun SEKI
                <!-- This script automatically adds the current year to your website footer-->
                <!-- (credit: https://updateyourfooter.com/)-->
                <script>
                    document.write(new Date().getFullYear());
                </script>
            </div>
            <div class="col-lg-6 text-lg-right">
                <a class="mr-3" href="#!">Privacy Policy</a>
                <a href="#!">Terms of Use</a>
            </div>
        </div>
    </div>
</footer>