<header class="masthead" id="header">
    <div class="container">
        <div class="timer">
            <div><span>0</span> Days</div>
            <div><span>6</span> Hours</div>
            <div><span>45</span> Mins</div>
            <div><span>12</span> Seconds</div>
        </div><br><br><br>
        <div class="masthead-subheading">Konferans Bilgilendirme Sayfamıza Hoşgeldiniz!</div>
        <div class="masthead-heading text-uppercase">Sizi Gördüğümüze Mutlu Olduk</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#about">Daha Fazla Bilgi</a>
    </div>
</header>