<section class="page-section bg-light" id="sponsor">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Sponsorlarımız</h2><br>
        </div>
        <div class="row">
            {% for sps in site.data.sponsors %}
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="img\{{ sps.id}}.jpeg" alt="..." />
                    <h4>{{ sps.title }}</h4>
                    <p class="text-muted">{{ sps.name}}</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p></div>
        </div>
    </div>
</section>